*{
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Fira Sans", sans-serif;
  color: #fff;
  background-color: #171919;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
  outline: none;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.headline-left {
  font-size: 22px;
  opacity: 0.5;
  line-height: 32px;
  letter-spacing: 7.33333px;
  padding-left: 103px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  &::before {
    width: 80px;
    height: 1px;
    position: absolute;
    content: "";
    background-color: #fff;
    left: 0;
    top: 50%;
  }
}
.headline-right{
  font-size: 22px;
  opacity: 0.5;
  line-height: 32px;
  letter-spacing: 7.33333px;
  padding-right: 103px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  &::before {
    width: 80px;
    height: 1px;
    position: absolute;
    content: "";
    background-color: #fff;
    right: 0;
    top: 50%;
  }
}
.title {
  span {
    font-size: 200px;
    text-transform: uppercase;
    color: rgba(#fff, 0.02);
    font-weight: 800;
    position: relative;
    transform: translateX(-50px);
    display: inline-block;
  }
  h3 {
    margin: 0;
    color: #fff;
    font-size: 80px;
    position: absolute;
    top: 12px;
    right: -15px;
    &::before {
      height: 1px;
      width: 80px;
      position: absolute;
      background-color: $green;
      content: "";
      right: 0;
      top: 0;
    }
  }
}
.subtitle{
  display: inline-block;
  text-align: right;
  &__head{
    margin-top: 8px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    padding-right: 10px;
    span{
      font-weight: 100;
    }
  }
}
.descr{
  display: inline-block;
  &__head{
    margin-top: 8px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    padding-right: 10px;
    span{
      font-weight: 100;
    }
    img{
      margin-left: 26px;
    }
  }
}
.btn{
  font-size: 40px;
  font-weight: 800;
  line-height: 80px;
  text-transform: uppercase;
  // position: relative;
  span{
    position: relative;
    display: inline-block;
    background:$green;
    padding: 0 57px 0 17px;
    margin-left: 19px;
    &::before{
      content:"";
      width: 20px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: -10px;
    }
    &::after{
      content:"";
      position: absolute;
      width: 24px;
      height: 20px;
      background-image: url(../img/arrows-right.svg);
      right: 17px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.surf,
.travel{
  padding: 160px 0 120px;
}

