// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
}

.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
}
.slider-item__info {
  text-align: right;
  position: absolute;
  right: 80px;
  bottom: 110px;
  text-transform: uppercase;
}
.slider-item__info-suptitle {
  margin-bottom: 5px;
}
.slider-item__info-title {
  font-size: 80px;
  font-weight: 800;
  line-height: 86px;
  margin-bottom: 48px;
}
.slider-item__info-suptext {
  margin-bottom: 8px;
}
.slider-item__info-text {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 20px;
}
.slider-item__info-link {
  display: inline-block;
  text-align: right;
}
.slider-arrows {
  position: absolute;
  top: 46px;
  right: 80px;
  cursor: pointer;
}
.slider-arrows__left {
  right: 125px;
  z-index: 1;
}
.slider-arrows__right {
  z-index: 1;
}
.slider-dotshead {
  position: absolute;
  max-width: 920px;
  width: 100%;
  right: 50px;
  bottom: 36px;
  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}
.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  &__number {
    font-size: 24px;
    line-height: 34px;
    font-weight: 800;
  }
  &__name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
}
.header__title {
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.07;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-right: 1px solid rgba(#fff, 0.25);
  height: 100vh;
  text-align: center;
}
.menu-btn{
  display: none;
  width: 40px;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 1;
  &__line{
    height: 5px;
    background: $green;
    margin-bottom: 5px;
    border-radius: 15%;
  }
}
.menu {
  li {
    margin: 30px 0;
  }
  span {
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3px;
    font-weight: 500;
    padding-top: 2px;
    margin-bottom: 12px;
  }
}
.header__date {
  padding-top: 5px;
  font-size: 72px;
  line-height: 64px;
  font-weight: 800;
  span {
    padding-top: 8px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
  }
}
.header__location {
  display: inline-block;
  padding-left: 19px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  font-weight: 300;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 13px;
    background-image: url(../img/map-marker.svg);
    left: 0;
    top: 0;
  }
}
.header__arrows {
  position: absolute;
  left: 210px;
  bottom: 35px;
  z-index: 1;
}
.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 10s infinite 6s;
}
@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}
.surf {
  position: relative;
  background-image: url(../img/surf-map-aside.svg);
  background-position: right 50px;
  background-repeat: no-repeat;
  background-size: auto;
}
.surf__subtitle,
.travel__subtitle {
  padding-right: 80px;
  text-align: right;
}
.surf__subtitle {
  margin-top: -86px;
}
.surf-slider {
  padding-top: 110px;
  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 27px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 65px;
    }
  }
  .slider-arrows {
    opacity: 0.25;
  }
  .slick-current {
    .surf-box__inner {
      background: rgba(#1c2121, 0.1);
      &-btn {
        display: inline;
      }
    }
  }
}
.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    min-height: 750px;
    background: rgba(#1c2121, 0.6);
    position: relative;
    transition: all 0.5s;
    &:hover {
      background: rgba(#1c2121, 0.1);
      .surf-box__inner-btn {
        display: block;
      }
    }
  }
}
.surf-box__inner-title {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 800;
  padding: 72px 0 0 40px;
  width: 132px;
}
.surf-box__inner-location {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 18px;
  transform: rotate(-90deg);
  position: absolute;
  left: 38px;
  bottom: 80px;
  width: 0;
  height: 0;
  white-space: nowrap;
  span {
    font-weight: 100;
  }
}
.surf-box__inner-btn {
  position: absolute;
  bottom: 5px;
  left: 45px;
  display: none;
}
.slider-map {
  max-width: 1200px;
  min-height: 634px;
  background-image: url(../img/world-map-dots.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  .slick-list,
  .slick-track,
  .slick-slide,
  .draggable,
  .slick-initialized,
  .slick-slider {
    overflow: visible !important;
  }
  .slick-list {
    min-height: 634px;
  }
  .slick-current {
    .slider-dots__content {
      display: block;
    }
  }
}
.slider-dots__circle {
  display: inline-block;
  height: 23px;
  width: 23px;
  background: $green;
  border-radius: 50%;
  box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}
.slider-dots__content {
  position: absolute;
  bottom: 48px;
  transform: translateX(-172.5px);
  display: none;
  width: 283px;
  padding: 28px 31px 0;
  background: rgba(#0f1010, 0.7);
  border-radius: 6px;
  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20px solid $green;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 50.1%;
    bottom: -30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.slider-dots__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.slider-dots__content-title {
  font-size: 18px;
  font-weight: 800;
  padding-bottom: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    left: 0;
    bottom: 0;
    background: $green;
  }
}
.slider-dots__content-subtitle {
  line-height: 19px;
  font-size: 16px;
}
.slider-dots__content-link {
  width: 16px;
  height: 14px;
  padding-top: 3px;
}
.slider-dots__content-item {
  text-align: center;
  img {
    margin: 0 auto;
    margin-bottom: 8px;
  }
}
.slider-dots__content-number {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 800;
  line-height: 23px;
}
.slider-dots__content-text {
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  text-transform: uppercase;
}
.slider-dots {
  position: relative;
  display: inline-block;
  max-width: 24px;
}
.slider-dots--1 {
  position: absolute;
  left: -12px;
  top: 330px;
}
.slider-dots--2 {
  position: absolute;
  top: 290px;
  left: 136px;
}
.slider-dots--3 {
  position: absolute;
  top: 318px;
  left: 338px;
}
.slider-dots--4 {
  position: absolute;
  top: 501px;
  left: 413px;
}
.slider-dots--5 {
  position: absolute;
  top: 212px;
  left: 530px;
}
.slider-dots--6 {
  position: absolute;
  top: 555px;
  left: 637px;
}
.slider-dots--7 {
  position: absolute;
  top: 395px;
  right: 377px;
}
.slider-dots--8 {
  position: absolute;
  top: 492px;
  right: 86px;
}

.holder {
  background-image: url(../img/travel-glass.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
  &.sleep {
    background-image: url(../img/frangipani.png);
  }
  .slider-arrows {
    position: absolute;
    top: 220px;
    opacity: 0.25;
  }
}
.holder-slider {
  &__head {
    min-height: 780px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
  }
  &__descr {
    padding: 160px 0 0 132px;
    margin-top: -270px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: right top;
    .descr__head {
      padding-right: 70px;
      position: relative;
      img {
        top: 0;
        right: 0;
        position: absolute;
      }
      .holder__star-list {
        top: -6px;
        right: 0;
        position: absolute;
        img {
          position: static;
          margin: 0;
        }
      }
      &.descr__head-sleep {
        padding-right: 220px;
      }
    }
  }
  .subtitle {
    padding: 100px 0 0 0;
  }
  .holder-slider__btn {
    text-align: center;
  }
}
.holder-slider__info {
  padding: 0 140px 0 132px;
  display: flex;
  justify-content: space-between;
}
.holder-slider__info-item {
  min-height: 200px;
  margin-bottom: 60px;
  position: relative;
  .holder-pricing__span {
    line-height: 14px;
    text-align: right;
    letter-spacing: 5.25px;
    text-transform: uppercase;
    opacity: 0.75;
    font-size: 14px;
    position: absolute;
    top: 40px;
    right: 53px;
  }
}
.holder-slider__info-title {
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 800;
  padding-left: 40px;
  width: 240px;
  position: relative;
}
.counter {
  letter-spacing: 6px;
}
.holder-slider__info-subtitle {
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  opacity: 0.5;
  transform: rotate(-90deg);
  font-size: 18px;
  position: absolute;
  left: -95px;
  top: 95px;
  width: 200px;
  height: 0;
  white-space: nowrap;
  text-align: right;
}
.shop {
  background-image: url(../img/shop-image.png);
  background-position: right center;
  background-repeat: no-repeat;
  .title {
    height: 175px;
  }
}
.shop__slider {
  padding-left: 133px;
  .slider-arrows{
    opacity: 0.25;
  }
}
.shop__slider-inner {
  display: flex;
}
.shop__slider-info {
  max-width: 480px;
  width: 100%;
  margin-right: 40px;
  padding-top: 145px;
  .descr__head-shop {
    width: 345px;
    padding-right: 0;
    margin-bottom: 37px;
  }
}
.shop__slider-price {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 64px;
  .star-list {
    height: 50px;
  }
  li:first-child {
    margin-left: -15px;
  }
  sup {
    font-size: 18px;
    margin-left: 5px;
  }
}
.shop__slider-content {
  padding-left: 170px;
  display: flex;

  align-items: flex-end;
}
.surfboard {
  position: relative;
}
.surfboard-box {
  position: absolute;
}
.surfboard__position--1{
  top: 202px;
  left: 172px;
}
.surfboard__position--2{
  top: 295px;
  left: -6px;
}
.surfboard__position--3{
  left: 53px;
  bottom: 65px;
  .surfboard-box__content{
    left: -10px;
    padding-left: 0;
    padding-right: 112px;
    left: -380px;
    &::before {
      right: 0;
      left: auto;
    }
  }
}
.surfboard-box__circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  cursor: pointer;
  &.active {
    .circle-row {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}
.circle-row {
  position: absolute;
  width: 12px;
  height: 2.5px;
  background: $green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  & + .circle-row {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
.surfboard-box__circle.active + .surfboard-box__content{
  display: block;
}
.surfboard-box__content {
  position: absolute;
  left: 30px;
  top: -14px;
  display: none;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 800;
  width: 255px;
  height: 48px;
  padding-left: 112px;
  &::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    background: #fff;
    left: 8px;
    top: 50%;
  }
}
.shop__extras {
  padding-left: 152px;
}
.shop__extras-title {
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 25px;
}
.shop__extras-inner {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  width: 340px;
}
.shop__extras-box {
  text-align: center;
  .shop__extras-img {
    min-height: 105px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    img {
      margin: 0 auto;
    }
  }
}
.shop__extras-name {
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 18px;
  opacity: 0.5;
  margin-bottom: 16px;
}
.shop__extras-price {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}
.footer{
  padding: 150px 0 34px;
  text-align: center;
}
.footer__btn{
  margin-bottom: 27px;
  span{
    padding-right: 17px;
    &::after{
      background-image: none;
    }
  }
}
.footer__copyright{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 300;
}






@import "media";
